# js artifacts
node_modules
lib
demo-lib

# testing
.nox
.pytest_cache

# dash-bootstrap-components artifacts
dash_bootstrap_components/bundle.js
dash_bootstrap_components/metadata.json
dash_bootstrap_components/_components/

# python build artifacts
__pycache__
*.pyc
dist
py-dist
*.egg-info

# release artifacts
changelog.tmp

# generated documentation files
docs/templates/generated/**/*.html

# vendored example apps
docs/examples/vendor
