<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/monokai-sublime.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='docs.css') }}" />
    <title>Dash Bootstrap Components</title>
  </head>
  <body>
    <div class="jumbotron text-center mb-3 main-header">
      <div class="container">
        <h1 class="jumbotron-heading display-4">Dash Bootstrap Components</h1>
        <p class="lead">
          Responsive layouts and components for Plotly Dash
        </p>
        <p>
          <a
            role="button"
            class="btn btn-outline-primary"
            href="https://github.com/facultyai/dash-bootstrap-components">
            GitHub
          </a>
          <a
            role="button"
            class="btn btn-primary"
            href="/l/components">
            Components
          </a>
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-sm-center pb-5">
        <div class="col">
          <h2 class="section-header">Installation</h2>
          <hr />
          <h4 class="section-header">PyPI</h4>
          <p>
            You can install <em>dash-bootstrap-components</em> with <code>pip</code>:
          </p>
          <pre><code class="language-bash">pip install dash-bootstrap-components</code> </pre>
          <h4 class="section-header">Anaconda</h4>
          <p>You can also install <em>dash-bootstrap-components</em> with <code>conda</code> through the conda-forge channel</p>
          <pre><code class="language-bash">conda install -c conda-forge dash-bootstrap-components</code></pre>
          <h2 class="section-header mt-5">Getting started</h2>
          <hr />
          <p>
            <em>dash-bootstrap-components</em> relies on <a>Twitter
            Bootstrap</a>. To use this package, inject the Bootstrap
            stylesheet into your application. For convenience, links to
            Bootstrap CSS hosted on
            <a href=https://www.bootstrapcdn.com/>bootstrapcdn</a>
            are included as part of the <code>themes</code> module:
          </p>
          <pre><code class="language-python">app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])</code></pre>
          <h2 class="section-header mt-5">Layout</h2>
          <hr />
          <p><em>dash-bootstrap-components</em> makes it easy to
          structure your application visually. The following template
          creates a basic app structure with a navbar:</p>
          <div class="demo-layout-container">
            <iframe class="demo-layout" src="/l/demo-layout"></iframe>
          </div>
          <pre><code class="language-python">import dash
import dash_bootstrap_components as dbc
import dash_core_components as dcc
import dash_html_components as html

navbar = dbc.NavbarSimple(
    children=[
        dbc.NavItem(dbc.NavLink("Link", href="#")),
        dbc.DropdownMenu(
            nav=True,
            in_navbar=True,
            label="Menu",
            children=[
                dbc.DropdownMenuItem("Entry 1"),
                dbc.DropdownMenuItem("Entry 2"),
                dbc.DropdownMenuItem(divider=True),
                dbc.DropdownMenuItem("Entry 3"),
            ],
        ),
    ],
    brand="Demo",
    brand_href="#",
    sticky="top",
)

body = dbc.Container(
    [
        dbc.Row(
            [
                dbc.Col(
                    [
                        html.H2("Heading"),
                        html.P(
                            """\
Donec id elit non mi porta gravida at eget metus.
Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non
mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
odio dui."""
                        ),
                        dbc.Button("View details", color="secondary"),
                    ],
                    md=4,
                ),
                dbc.Col(
                    [
                        html.H2("Graph"),
                        dcc.Graph(
                            figure={"data": [{"x": [1, 2, 3], "y": [1, 4, 9]}]}
                        ),
                    ]
                ),
            ]
        )
    ],
    className="mt-4",
)

app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

app.layout = html.Div([navbar, body])

if __name__ == "__main__":
    app.run_server()</code></pre>
          <h2 class="section-header mt-5">Using just the grid system</h2>
          <hr />
          <p>
            Sometimes you may wish to take advantage of Bootstrap's grid system
            for controlling the layout of your app, without including all of the
            typography changes and additional CSS classes that come with it. In
            such scenarios, it's possible to link just the
            <code>bootstrap-grid.css</code> stylesheet. The easiest way to do this
            is to use the CDN link in the <code>themes</code> module:
          </p>
          <pre><code class="language-python">app = dash.Dash(__name__, external_stylesheets=[dbc.themes.GRID])</code></pre>
          <p>
            If you prefer, you can also
            <a href="https://getbootstrap.com/docs/4.2/getting-started/download/">download</a>
            <code>bootstrap-grid.css</code> yourself, and place it in your
            <code>assets/</code> directory, as described in the
            <a href="https://dash.plot.ly/external-resources">
              Plotly Dash documentation
            </a>.
          </p>
          <p>
            With just the grid CSS, you should only expect the layout components
            <code>Container</code>, <code>Row</code> and <code>Col</code> to
            work properly. Other components require additional classes and styles
            that are not included in the Bootstrap grid stylesheet.
          </p>
          <h2 class="section-header mt-5">Customising the stylesheet</h2>
          <hr />
          <p>
            The easiest way to get started with
            <em>dash-bootstrap-components</em> is to include the
            Bootstrap stylesheet from a CDN, as described above. If
            you want to use a custom stylesheet, you will need to
            include it in your <code>assets/</code> directory, as
            described in the <a
            href="https://dash.plot.ly/external-resources">Plotly Dash
            documentation</a>.
          </p>
          <p>
            A good way to start customising the stylesheet is to use
            an alternative pre-compiled theme. <a
            href="https://bootswatch.com/">Bootswatch</a> is a great
            place to find new themes. Links to CDNs for each of the Bootswatch
            styles are also included in <code>themes</code>, and can be used
            with the <code>external_stylesheets</code> argument of the
            <code>Dash</code> constructor:
          </p>
          <pre><code class="language-python">app = dash.Dash(__name__, external_stylesheets=[dbc.themes.CERULEAN])</code></pre>
          <p>
            You can also download the base CSS from <a
            href="https://github.com/thomaspark/bootswatch/tree/master/dist/">GitHub</a>,
            place it in the <code>assets/</code> directory for your
            application and modify it. For instance, to use the
            <em>Cerulean</em> theme, you would download
            <code>/dist/cerulean/bootstrap.css</code> from the
            Bootswatch GitHub repository.
          </p>
          <h2 class="section-header mt-5">Contributing</h2>
          <hr />
          <p>
            If you find a bug, or if something is unclear, we
            encourage you to raise an issue on <a
            href="https://github.com/facultyai/dash-bootstrap-components/issues">GitHub</a>.
          </p>
          <p>
            We welcome contributions to
            <em>dash-bootstrap-components</em>. To contribute, fork
            the repository and open a <a
            href="https://github.com/facultyai/dash-bootstrap-components/pulls">pull
            request</a>.
          </p>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
