.main-header {
  background-color: white;
}

.main-header h1 {
  margin-bottom: 1rem;
}

.main-header p.lead {
  margin-bottom: 1.5rem;
}

.main-header .btn {
  margin-right: 1rem;
}

.main-header .btn + .btn {
  margin-right: 0;
}

.section-header {
  font-weight: 300;
}

code.hljs {
  padding: 1em;
  border-radius: 3px;
}

.example-source-container code.hljs {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

span.hljs-meta {
  color: #66d9ef;
}

.demo-layout-container {
  height: 600px;
  margin-right: 0rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: block;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: none;
}

.demo-layout {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  border-radius: 6px;
}

.docs-content {
  margin-top: 2rem;
}

.docs-sidebar .nav-item {
  padding: 0 0.2rem 0 0.2rem;
}

.docs-sidebar .nav-link {
  color: #888;
  padding: 0.3rem 0.5rem 0.3rem 1rem;
  border-left: 2px solid transparent;
}

.docs-sidebar .nav-link:hover {
  color: #777;
  border-left: 2px solid #aaa;
}

.docs-sidebar .nav-link.active {
  color: #666;
  border-left: 2px solid #d9534f;
}

.docs-sidebar .nav-link.active:hover {
  border-left: 2px solid #d9534f;
}

.example-container {
  padding: 1rem;
  border: 1px solid #d8d8d8;
  margin: 2rem 0 0;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 0px;
}

.example-source-container {
  margin-bottom: 2rem;
}

.example-source-container pre.hljs {
  border-radius: 0px 0px 3px 3px;
}

.source-container pre.hljs {
  border-radius: 3px;
}

.api-documentation {
  margin-bottom: 4rem;
}

.layout-demo .row {
  margin-bottom: 10px;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) calc(100% - 15px),
      #fff calc(100% - 15px)
    ),
    linear-gradient(to right, #fff, #fff 15px, rgba(0, 0, 0, 0) 15px),
    linear-gradient(to right, #eeeeee, #eeeeee);
}

.layout-demo .row.no-gutters {
  background: linear-gradient(to right, #eeeeee, #eeeeee);
}

.layout-demo .pad-row .row {
  height: 100px;
}

.layout-demo .col > div,
.layout-demo [class*='col-'] > div {
  padding: 0.75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

._dash-undo-redo {
  display: none;
}

/* Custom checkbox example CSS */
#checklist-selected-style
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #fa7268;
  border-color: #ea6258;
}

/* invalid input styling */
#styled-numeric-input input:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  outline: none;
}
